@import '../src/index.scss';

.blog-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    // margin-left: 4%;
}
.blogs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3rem;
}
.blog-cards{
    display: flex;
    flex-direction: column;
    //width: 100%;
}
.main{
    width: 160%;
}
// .blog-img{
//     background-color: red;
//     width: 70%;
// }
// .cardsss{
//     background-color: yellow;
//     width: 30%;
// }
// .blog-text{
//     width: 100%;
  
// }
.hr-line{
    height: 5px;
    width: 31%;
    background: $secondary-color;
  }