@import '../src/index.scss';

.blog-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 4%;
}
.blogs{
    width: 100%;
    display: flex;
    line-height: 30px;
}
.blog-cards1{
    width: 70%;
}
.blog-cards2{
    width: 30%;
}
.hr-line{
    height: 5px;
    width: 31%;
    background: $secondary-color;
  }