@import '../index.scss';
.card{
    display: flex;
    flex-direction: row;
    box-shadow: 2px 2px 8px 2px lightgray;
    background: white;
    margin: 2rem 0 0 0;
    // width: 100%;
    }
.card-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    overflow: hidden;
    padding: .5rem;
    //background: $secondary-color2;
}
.card-img img{
    width: 100%;
} 
.card-title{
    padding: 0 2rem 0 2rem;
}    