@import "../index.scss";
.popular-section { 
  margin: 5rem 0 5rem 0;
}
.popular-place-container {
  display: flex;
  gap: 5rem;
  width: 100%;
}
.popular-place-left {
  width: 100%;
}
.popular-place-left p {
  font-size: 20px;
  line-height: 30px;
}
.popular-place-right {
  width: 100%;
}
.about-btn {
  padding: 0.5rem 2rem 0.5rem 2rem;
  border: none;
  color: white;
  border-radius: 1rem;
  background: $secondary-color;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
}

.popular-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
  width: 100%;
}
.popular-container .box{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.popular-container .box .image-box{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.popular-container .box .images {
  display: flex;
  flex-direction: column;
  width: 30%;
}
.popular-container .box .images img {
  width: 100%;

}
.hr-line {
  height: 5px;
  width: 31%;
  background: $secondary-color;
}
.hr-line2 {
  margin-top: 5rem;
  width: 100%;
 
}
