@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600;700&family=Lato&display=swap');
@import '../src/sass/Variable.scss';

:root {
  font-family: 'Josefin Sans', sans-serif;
  // line-height: 1.5;
  // font-weight: 400;
 // overflow: hidden;
}
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
.container{
  padding: 0 3rem 0 3rem;
}

//Media Query

// @media (max-width: 412px) {
//   .list-item ul{
//     display: none;
//   }
  
 
// }
@media (max-width: 576px) {
  .popular-container .box .image-box{
    flex-direction: column;
  }
  .popular-container .box .images {  
    width: 100%;
  }
  .popular-container .box .images img {
    width: 100%;
    padding-bottom: 5px;
  }
  .popular-container{
    flex-direction: column;
  }
  .blogs{
    flex-direction: column;
}
.main{
  width: 100%;
}
.card{
  flex-direction: column;
}
.card-img{
  padding: 0;
  width: 100%;
}
}
@media (max-width: 768px) {
  .blogs{
    flex-direction: column;
}
.main{
  width: 100%;
}
.card{
  flex-direction: column;
}
.card-img{
  padding: 0;
  width: 100%;
}
}
@media (max-width: 992px) {
  .about-section{
   flex-direction: column-reverse;
   height: 100%;
   padding: 2rem 0 2rem 0;
}
.about-image{
  display: flex;
  justify-content: center;
}

}
@media (max-width: 1000px) {


}


